%% vim: ft=erlang
{sub_dirs, [
        "apps/config",
        "apps/toolkit",
        "apps/cpl",
        "apps/database",
        "apps/yxa_yaws"
]}.
{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{lib_dirs, ["apps"]}.
{eunit_opts, [
    {report, {eunit_surefire, [{dir, "."}]}}
]}.
{deps, [
]}.
